<div >
    <h1>Productos</h1>
    <h2>{{data.category}}</h2>
    
    <div class="card">
        {{#each data.docs}}
        <div class="cardProduct">
            <h3>{{title}}</h3>
            <p>
            {{description}} <br>
            precio ${{price}}
            </p>
        <button id="addToCart">agregar al carrito</button>
        </div>
        {{/each}}
    </div>
    <div class="pagesManager">
    {{#if data.prevPage}}
    <a class="buttonPages" href="/products?page={{data.prevPage}}&limit={{data.limit}}&query={{data.category}}">Anterior</a>
    {{/if}}
    
    |
    
    {{#if data.nextPage}}
    <a class="buttonPages" href="/products?page={{data.nextPage}}&limit={{data.limit}}&query={{data.category}}">Siguiente</a>
    {{/if}}
</div>
</div>

<div>
    <h2>Agrega productos</h2>

    <form action="/api/products" method="post" enctype="multipart/form-data">

        <input type="text" name="title" placeholder="ingrese el nombre del producto"  style="width: 300px;"> <br>

        <textarea name="description" placeholder="ingrese una breve descripcion del producto del producto"  style="width: 300px;"></textarea> <br>
    
        <input type="number" name="price" placeholder="ingrese el precio del producto"  style="width: 300px;"> <br>
    
        <input type="number" name="stock" placeholder="ingrese el stock del producto"  style="width: 300px;"> <br>
    
        <input type="text" name="code" placeholder="ingrese el codigo del producto"  style="width: 300px;"> <br>

        <input type="text" name="category" placeholder="ingrese la categoria del producto" style="width: 300px;"> <br>

        <input type="file" name="thumbnails" multiple><br>

        <button type="submit">Enviar</button>
    </form>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
